<section class="tag">
  <h3 class="title-tag">标签</h3>
  <ul class="tag-list">
    <a class="tag-link" href="/tags/">All</a>， 
    <%- list_tags({
      style: 'unordered list',
      transform(post) {
        return post
      }
    }) %>
  </ul>
  <% site.tags.map(function (tag) { %>
    <!-- <% for (var key in tag) {%>
      <%- key%>: <%-tag[key]%><br/>
    <%}%> -->
    <a href="<%- url_for(tag.path)%>">
      <h3 class="title-tag"><%-tag.name%></h3>
    </a>
    <ul>
      <% tag.posts.each(function (post) {%>
        <li class="post-item">
          <span class="post-date"><%= date(post.date, "YYYY/MM/DD") %></span>&nbsp;
          <a class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </li>
      <%})%>
    </ul>
  <% }) %>
</section>